.VerticalProgressBar {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3.5fr 1fr;
    grid-row-gap: 0.5rem;
}

.VerticalProgressBar_bar {
    border-radius: 4px;
    height: 100%;
    width: 24px;
    justify-self: center;
    background-image: radial-gradient(circle at 100% 0%, #ffebca, #efa39c);
}

.VerticalProgressBar_label {
    font-size: 1.5rem;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.4px;
    text-align: center;
    align-self: flex-end;
    /* max-width: 2.8rem; */
}