$color-greeny-blue: #3ea3b2;
$color-lightish-blue: #485eff;
$color-black: #000000;
$color-pale: #ffebca;
$color-light-salmon: #efa39c;
$color-iris: #5771be;
$color-black-40: rgba(0, 0, 0, 0.4);
$color-black-20: rgba(0, 0, 0, 0.2);

// Font
$default-font-size: 1.6rem;

// GRID

$grid-width: 37.5rem;
$gutter-vertical: 1.6rem;
$gutter-horizontal: 2.4em;